[user]
	email = chris@chrismcgee.info
	name = Chris McGee
[color]
	ui = auto
[core]
	editor = code --wait
	autocrlf = input
[diff]
	tool = default-difftool
[difftool "default-difftool"]
	cmd = code --wait --diff $LOCAL $REMOTE
[init]
	defaultBranch = main
