[user]
    name = Chris McGee
    email = chris@chrismcgee.info

{{ if eq .profile "personal" }}
[alias]
    hdiff = -c core.pager=\"hunk pager\" diff
    hshow = -c core.pager=\"hunk pager\" show
[core]
    pager = hunk pager
{{ end }}

[init]
    defaultBranch = main

[http]
    lowSpeedLimit = 1000
    lowSpeedTime = 60
    postBuffer = 524288000

[credential "https://github.com"]
    helper =
    helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
    helper =
    helper = !/usr/bin/gh auth git-credential
